.bg-black{
    background-color: black;
}

.font-div{
    width: 30%;
}

img{
    width: 100%;
    height: 100%;
}


/*
@media only screen and (min-width: 991px){
    .font-div{
        padding: 90px 0px!important;
    }
}
*/

.btn-light{
    border-radius: 7px;
}


.fa-facebook{
    color: #3b5998;
}
.fa-linkedin-square{
    color: #1985bc;
}
.fa-google-plus{
    color: #db4437;
}
.card-body{
    background-color: rgba(242, 239, 255,1);
}
